body {
  background: #eee;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

.region-map {
  height: 450px;
}

.game-map {
  height: 500px;
}

.chart-body {
  height: 300px;
}

.container {
  max-width: 868px;
}

.chart-spinner-container {
  height: 300px;
}

.dropdown-menu {
	z-index: 9999;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
	background-color: #eee;
}

.dropdown-menu .active {
	color: #000;
	font-weight: 600;
	background-color: #fff;
}

.btn-primary {
  border: 0px;
  background-color: #003142 !important;
}

.btn-primary:hover {
  background-color: #002735 !important;
}

.btn-red {
  border: 0px;
  color: #fff;
  background-color: rgb(214, 89, 167) !important;
}

.btn-red:hover {
  color: #fff;
  background-color: rgb(204, 79, 157) !important;
}

.btn-green {
  border: 0px;
  color: #003132;
  background-color: rgb(201, 209, 0) !important;
}

.btn-green:hover {
  background-color: rgb(191, 199, 0) !important;
}

@media only screen and (max-width: 1200) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (max-width: 992) {
  .container {
    width: 768px;
  }
}

@media only screen and (max-width: 768) {
  .container {
    width: 576px;
  }
}

#return-to-top {
    z-index: 10000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 49, 66, 0.3);
    /*background: rgba(0, 0, 0, 0.7);*/
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #002735;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin: 0;
    transition: background-color .4s ease;
}

.checkbox-menu li.active label {
	font-weight: 600;
}

.checkbox-menu li label:hover {
	background-color: #eee;
}

.checkbox-menu li input {
  top: 2px;
  margin: 0px 5px;
  position: relative;
}

.marker-cluster {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  line-height: 38px;
  color: #fff;
  font-size: 16px;
}

.recycle-marker {
  border: rgb(46, 108, 59) 2px solid;
  background-color: rgb(75, 166, 86);
}

.pieturu-marker {
  border: rgb(35, 83, 114) 2px solid;
  background-color: rgb(66, 149, 207);
}